<div id="order-details">
  <% @order.order_items.each do |item| %>
    <p>
      <%= "#{item.product.name}  - #{item.product.price} kr" %>
    </p>
  <% end %>

  <p>
    Order total: <%= order.total %> kr
  </p>
  <p>
    Estimated pickup time: <%= pickup_time %>
  </p>
  <form action="/confirm_checkout" method="post">
    <input type="submit" value="Confirm Order">
  </form>
</div>
