<form action="/signup" method="post">
  <label for="username">Username</label>
  <input type="text" name="user[name]" id="username" /><br />
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password" /><br />
  <label for="confirm_password">Password Confirmation</label>
  <input type="password" name="user[password_confirmation]" id="confirm_password" /><br />
  <input type="submit" value="Sign up">
</form>
